{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}
{% extends "__layout__.html" %}
{% block content %}

<!--================Header Area =================-->

<!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
            	
                <div class="banner_inner_content">
                    <h3>SIGN UP</h3>
                  
                </div>
               
            </div>
        </section>
        <br>

        <div class="container">
        <form class="form-horizontal" role="form" method="POST" action="">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <center>
                    <h2>Please Register</h2>
                    <p>If you are already registed please <a href="{{ url_for('users.login') }}">login</a></p>
                    {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}
                        <br>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div class="alert alert-{{ messages.0.0 }}" role="alert">
                        {% for category, message in messages %}
                    {{ message }} </br>
                    {% endfor %}
                     </div>
                     {% endif %}
                    {% endwith %}
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-danger">

                <form>
                    <div class="col-sm-12">
                        <div class="row">
                            {{ form.csrf_token }} 
                            <div class="col-sm-6 form-group">
                              
                                {{ render_field(form.username, class='form-control', placeholder='Enter UserName Here..') }}
                            </div>

                                 {% for error in form.username.errors %}
                                 <span style="color: red;">[{{ error }}]</span>
                                 {% endfor %}
                            <div class="col-sm-6 form-group">
                           
                                {{ render_field(form.email, class='form-control', placeholder='Enter email Here..') }}
                            </div>
                                {% for error in form.email.errors %}
                                 <span style="color: red;">[{{ error }}]</span>
                                 {% endfor %}
                        </div>                  
                        <div class="form-group">
                      
                                {{ render_field(form.password, class='form-control', placeholder='Enter Password Here..') }}
                        </div>  
                                {% for error in form.password.errors %}
                                 <span style="color: red;">[{{ error }}]</span>
                                 {% endfor %}

                          
                        <div class="form-group">
                              
                                {{ render_field(form.confirm_password, class='form-control', placeholder='Repeate Password Here..') }}
                            </div> 
                                {% for error in form.confirm_password.errors %}
                                 <span style="color: red;">[{{ error }}]</span>
                                 {% endfor %} 

                                 <div class="form-group">

                                 {{ form.recaptcha }}

                                 </div> 

                                          
                           
                            <div class="form-group">
                             <button type="submit" class="btn btn-primary btn-block login-btn">Register</button>
                              </div>                  
                            </div>
                </form> 
                </div>
    </div>
    </div>
    </div>
    </div>
    <br>

{% endblock content %}