{% extends "__layout__.html" %}
{% block content %}

<!--================Header Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_content">
                    <h3>{{ title }}</h3>
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">{{ title }}</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Resort Story Area =================-->
    				<br>
                    <div class="container">
                        <div class="introduction_left_text">
                            <div class="resort_title">
                            	<h1 style="text-align: center;">ESSAOUIRA
</h1>
                                    <p>&nbsp;</p>
                                    <p style="text-align: center;"><span style="font-weight: 400;">

                                        If you like cities with interesting history you won’t miss a trip to Essaouira. A 3-hour drive north of the hotel will bring you to this beautiful city whose Medina (old town) was added onto the UNESCO World Heritage list in 2001. Essaouira is known as the “windy city of Africa”, making this the hotspot for kitesurfing, so make sure you bring some warm clothes with you when visiting. As a day trip, you can discover the big port for fishing-boats, watching the local fishermen bring in their catch of the days, or you can spend time along the golden beaches, with numerous cafes and restaurant lining the shore. The old medina is a highlight while you are here, the old Portuguese architecture will make you feel like you have taken a step back in time, wander through the spice-scented lanes, with locals shops lining the palm covered streets,  with colorful local arts and crafts, souvenirs and the sweet smells of the local delicacies in the air.

                                    </span></p>

                                    </div>
                                    </div>
                                    </div>
                                    <br>
                                                                    

                                 {% endblock content %}