{% extends "__layout__.html" %}
{% block content %}

<!--================Header Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_content">
                    <h3>{{ title }}</h3>
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">{{ title }}</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Resort Story Area =================-->
    				<br>
                    <div class="container">
                        <div class="introduction_left_text">
                            <div class="resort_title">
                            	<h1 style="text-align: center;">HAMMAM AND MASSAGE
</h1>
                                    <p>&nbsp;</p>
                                    <p style="text-align: center;"><span style="font-weight: 400;">

                                        Having a traditional hammam is a must while you’re in Morocco!  Choose from a traditional local Hammam to capture the real taste of Morocco, or if you really want to pamper yourself you can book yourself one of the more luxurious spas. While you are there why not also treat yourself to a massage to soothe your muscles after those long days of surfing.

                                    </span></p>

                                    </div>
                                    </div>
                                    </div>
                                    <br>
                                                                    

                                 {% endblock content %}