{% extends "__layout__.html" %}
{% block content %}

<!--================Header Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_content">
                    <h3>{{ title }}</h3>
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">{{ title }}</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Resort Story Area =================-->
    				<br>
                    <div class="container">
                        <div class="introduction_left_text">
                            <div class="resort_title">
                            	<h1 style="text-align: center;">THE BAY OF IMSOUANE/DUNES
</h1>
                                    <p>&nbsp;</p>
                                    <p style="text-align: center;"><span style="font-weight: 400;">

                                        Our day trip to Imsouane leads you to one of the most famous surf-spots of the Atlantic Ocean and the longest waves in Morocco. The point is a true haven for longboarders and provides a great wave to learn how to surf or take your first green waves.  Discover the amazing fishing village with its great vibes, fresh fish and breathtaking views over the bay. On the way to Imsouane, you will see Moroccan villages, mountain ranges and the never-ending ocean, banana plantations and argan trees. Keep your eyes peeled as you will likely see goats climbing the coastline too. Imsouane is also known to have some of the freshest fish in the area. We will enjoy a delicious grilled fish lunch at a local restaurant, overlooking the bays stunning views and watching the local fishing boats bring in their latest catch.

                                        On our way back to the hotel you will visit some golden dunes along the coastline. We will take a short 15 minutes to walk to the top of the dunes where you will find yourself on top of the world with incredible views, don’t forget your camera! While you are up there don’t miss out on the unforgettable experience to surf the dunes, trying your luck standing the whole way down or grab a friend and double down the dunes sitting down.

                                    </span></p>

                                    </div>
                                    </div>
                                    </div>
                                    <br>
                                                                    

                                 {% endblock content %}