{% extends "__layout__.html" %}
{% block content %}

<!--================Header Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_content">
                    <h3>{{ title }}</h3>
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">{{ title }}</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Resort Story Area =================-->
    				<br>
                    <div class="container">
                        <div class="introduction_left_text">
                            <div class="resort_title">
                            	<h1 style="text-align: center;">MARRAKESH
</h1>
                                    <p>&nbsp;</p>
                                    <p style="text-align: center;"><span style="font-weight: 400;">

                                        If you are the first time traveler to Morocco or a return traveler who has already fallen in love, you will probably want to visit Marrakesh. The city is one of the biggest cities in Morocco and the former imperial city of western Morocco. Immerse yourself into the cities diverse cultural, where vibrant souks meet tranquil mosques, delicious aromas of the local spices drift through the air, and all your shopping dreams will come true. Be sure not to miss the Moorish minaret of 12th century Koutoubia Mosque which is visible for miles. Spend your day visiting the famous square Jemaa el-Fnaa, exploring the souk with its bursting colors and get lost in the winding streets of Marrakesh’s medina.



                                    </span></p>

                                    </div>
                                    </div>
                                    </div>
                                    <br>
                                                                    

                                 {% endblock content %}