{% extends "__layout__.html" %}
{% block content %}

<!--================Header Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_content">
                    <h3>{{ title }}</h3>
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">{{ title }}</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Resort Story Area =================-->
    				<br>
                    <div class="container">
                        <div class="introduction_left_text">
                            <div class="resort_title">
                            	<h1 style="text-align: center;">PARADISE VALLEY

</h1>
                                    <p>&nbsp;</p>
                                    <p style="text-align: center;"><span style="font-weight: 400;">

                                        Enjoy a hike to the beautiful Paradise Valley, an oasis with fresh natural pools and waterfalls surrounded by palm trees and amazing landscapes. Popular folklore says that Jimi Hendrix named the valley after spending time there, enjoying his time relaxing in the tranquil escape. You will have the opportunity to swim in the crystal clear water, sunbath around the pools and even cliff jumping if you dare.

                                    </span></p>

                                    </div>
                                    </div>
                                    </div>
                                    <br>
                                                                    

                                 {% endblock content %}