{% extends "__layout__.html" %}
{% block content %}

<!--================Header Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_content">
                    <h3>{{ title }}</h3>
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">{{ title }}</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Resort Story Area =================-->
    				<br>
                    <div class="container">
                        <div class="introduction_left_text">
                            <div class="resort_title">
                            	<h1 style="text-align: center;">QUAD
</h1>
                                    <p>&nbsp;</p>
                                    <p style="text-align: center;"><span style="font-weight: 400;">

                                        Quad biking in Tamraght is one of the most enjoyable ways to explore the beauty of the Atlas Mountains and beaches of the Atlantic Ocean. Get your adrenaline racing on your quad bike adventure through the stunning Moroccan landscapes, follow your guide high into the mountains where the views over the ocean and sand dunes will amaze you. Ask us to help book your 4-wheeled adventure and don’t miss out on an experience of a lifetime.

                                    </span></p>

                                    </div>
                                    </div>
                                    </div>

                                    <br>
                                                                    

                                 {% endblock content %}