
{% extends "__layout__.html" %}
{% block content %}

<!--================Header Area =================-->

<!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_content">
                    <h3>SURF</h3>
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="surf.html">SURF</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Explor Room Area =================-->
        <section class="explor_room_area explore_room_list">
            <div class="container">
                <div class="explor_title row m0">
                    <div class="left_ex_title">
                        
                        
                      
                        <p>The Surf Hotel Morocco is the best place to spend your surf vacation in Morocco. Located right in front of the best surf spots in Morocco you’ll find the familiar surf camp to spend a great time. Morocco is famous for its long-running surf season during the winter months. But even in summer months, you find consistent conditions to learn surfing.

                        The surf instructors will drive you every morning to the best surf spots according to weather and surf conditions. As our surf instructors are all from the area they know the sea and cost line very well and you can just relax and enjoy your surf vacation. You can join the surf camp as a beginner, intermediate or advanced surfer. Even with surf coaching or surf guiding – we’ll find the best surf spots for your surf level..</p>
                        <br>
                        
                        
                        <iframe src="https://www.google.com/maps/d/embed?mid=1GQLEZrvvfVyhsCav6kN5jFHIgN33VEyn" width="1000" height="600"></iframe>
                      
                       

                    </div>
                </div>
            </div>

        </section>
         <!--================Footer Area =================-->
 {% endblock content %}